.titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.addTagContainer {
    position: sticky;
    top: 1em;
    z-index: 10;

    background-color: var(--color-background);
    padding: 1em;
    padding-inline: 1em;
    border-radius: var(--radius-lg);
    border: 1px solid var(--color-border);

    &::before {
        content: "";
        position: absolute;
        z-index: -1;

        top: calc(-1em - 2px);
        /*bottom: -2em;*/
        left: -1em;
        width: calc(100% + 2em);
        height: 3em;

        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);

        mask-image: linear-gradient(to bottom, black, transparent);
        -webkit-mask-image: linear-gradient(to bottom, black, transparent);

        pointer-events: none;
    }
}
