.titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.addTagContainer {
    position: sticky;
    top: 1em;
    z-index: 10;

    background-color: var(--color-background);
    padding: 1em;
    padding-inline: 1em;
    border-radius: var(--radius-lg);
    border: 1px solid var(--color-border);
}
