.container {
    position: fixed;
    inset: 0;
    z-index: 1000;
    gap: 2em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-background);

    transition: opacity 0.3s ease;
    transition-delay: 0.3s;
}

.icon {
    animation: spinBack 4s infinite;
    animation-timing-function: linear;
    transition: rotate 0.2s ease;
}

@keyframes spinBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.stop {
    animation-play-state: paused;
    rotate: -60deg;
}
