.overflow {
    overflow-x: scroll;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    flex-wrap: nowrap;
    width: max-content;
}
